{# Plantilla de la app#}
{% extends 'base.html.twig' %}
{# Titulo #}
{% block title %}
ASEGCOR
{% endblock %}
{# Header #}
{% block header %}

{% endblock %}
{# Contenido #}

{% block content %}
<div class="image-container">
    <img class="img-fluid rounded mb-4" src="{{ asset('img/index.jpg')}}" alt="Imagen de la página principal">
    <div class="image-text"><h1>ASEGCOR</h1></div>
</div>
{% endblock %}